<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/Index-Style.css">
    <title>Document</title>
</head>
<body>  
    <div class="flex-container">
        <!--Edzésterv Generátor Menü-->
        <div class="container">
            <img src="resources/images/Training.jpg" alt="Avatar" class="image" >
            <div class="middle">
                <button class="button button1">Edzésterv Generátor</button>
                <div>
                    <p>Készíts saját edzéstervet az általad összegyűjtött gyakorlatokból</p>
                </div>
            </div>
        </div>

        <!--Kalória Számláló Menü-->
        <div class="container">
            <img src="resources/images/Kaloria.jpg" alt="Avatar" class="image" >
            <div class="middle">
                <button class="button button2">Kalória Számláló</button>
                <div>
                    <p>Számold ki a napi kalória szükségletedet</p>
                </div>
            </div>
        </div>

        <!--Web Shop Menü-->
        <div class="container">
            <img src="resources/images/WebShop.jpg" alt="Avatar" class="image" >
            <div class="middle">
                <button class="button button3">Web Shop</button>
                <div>
                    <p>Vásárold meg az aktuális termékeinket a legkedvezőbb áron</p>
                </div>
            </div>
        </div>

        <!--Egyéb Szolgáltatások Menü-->
        <div class="container">
            <img src="resources/images/Services.jpg" alt="Avatar" class="image" >
            <div class="middle">
                <button class="button button4">Egyéb Szolgáltatások</button>
                <div>
                    <p>Tekintsd meg az SZFM egyéb szolgáltatásait is</p>
                </div>
            </div>
        </div>

        <div class="flex-container2">

            <!--Galéria Menü-->
            <div class="container">
                <img src="resources/images/Galery.jpg" alt="Avatar" class="image" >
                <div class="middle">
                    <button class="button button5">Galéria</button>
                    <div>
                        <p>Nyerj betekintést az SZFM sziget csodálatos pillanatiba.</p>
                    </div>
                </div>
            </div>

            <!--Rólunk Menü-->
            <div class="container">
                <img src="resources/images/Rolunk.jpg" alt="Avatar" class="image" >
                <div class="middle">
                    <button class="button button5">Rólunk</button>
                    <div>
                        <p>Ha többet szeretnél tudni a cégről</p>
                    </div>
                </div>
            </div>

            <!--Kapcsolat Menü-->
            <div class="container">
                <img src="resources/images/Kapcsolat.jpg" alt="Avatar" class="image" >
                <div class="middle">
                    <button class="button button5">Kapcsolat</button>
                    <div>
                        <p>Felkeltettük az érdeklődésedet akkor bátran kérdezz minket</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>